# Network visibility (set to "false" to hide from explorer)
NEXT_PUBLIC_MAINNET_ENABLED=false
NEXT_PUBLIC_TESTNET_ENABLED=false
NEXT_PUBLIC_DEVNET_ENABLED=true

# Devnet
NEXT_PUBLIC_DEVNET_RPC_URL=http://127.0.0.1:29944
NEXT_PUBLIC_DEVNET_API_URL=http://127.0.0.1:29955

# Testnet
NEXT_PUBLIC_TESTNET_RPC_URL=http://127.0.0.1:19944
NEXT_PUBLIC_TESTNET_API_URL=http://127.0.0.1:19955

# Mainnet
NEXT_PUBLIC_MAINNET_RPC_URL=http://127.0.0.1:9944
NEXT_PUBLIC_MAINNET_API_URL=http://127.0.0.1:9955
